body{
    background-image: url(/img/isi2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


button{
    border: 2px solid;
    outline: 0;
    display: inline-block;
    margin: 10px;
    width: 25%;
    padding: 10px;
    color: rgb(13, 13, 13);
    background-color: rgb(129, 136, 144);
    text-align: center;
    cursor: pointer;
    font-size: 18px;
}
button:hover{
    background-color: darkgrey;
}
.card{
    box-shadow: 0px 4px 8px  rgba(0, 0, 0, 0.2);
    overflow: hidden;
    max-width: 600px;
    margin:auto ;
    text-align: center;
    justify-content: end;
    flex-wrap: wrap;
    border: 1px solid;
    border-radius: 15px ;
    font-family: 'Times New Roman', Times, serif;
}
label {

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    color: #000000; /* Color del texto */
    
    /* Alineación del texto */
    text-align: left;
    
    /* Espaciado */
    margin-bottom: 5px; 
    
    /* Otros estilos */
    /* Por ejemplo, puedes añadir decoración de texto como subrayado */
    text-decoration: double;
   }