*{
    margin:0;
    padding:0;
}

/*selector de etiqueta*/

body
{
background-color: rgb(204, 192, 192);
color: white;
}
/*selector id */
#contenedor 
{
    width: 900px;
    height: 1000;
    background-color:#a2dcf0;
    margin: 10px;
    padding: 20px;
}

#encabezado
{
    width: 95%;
    background-color: rgb(142, 198, 205);
    margin: 1em;
    border-radius: 5px;
    text-align: center;
}   

#menu
{
    height: 6%;
    background-color: beige;
    margin: 1em;
    border-radius: 5px;

}
/*selector de etiqueta para el menu*/
ul
{
    text-align: center;
    padding: 10px;

}
li
{
    display: inline;
    padding: 10px 30px;
    margin: 3em;
}
li a:hover
{
    color: crimson;
    font-size: 20px;
    text-decoration: none;
    list-style: none;
    
}